[user]
        email = simonhelgen1@gmail.com
        name = NorwegianKiwi-glitch
[url "https://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:@github.com/"]
        insteadOf = https://github.com/NorwegianKiwi-glitch
